extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let choclateid = toShow._id
        - let choclateName = toShow.choclateName
        - let chocolateCost = toShow.chocolateCost
        - let quantityAvailable = toShow.quantityAvailable
        - let actionid = "/resource/chocolate/" + choclateid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='chocolateAttr mr-3') Chocolate ID is:
                div #{choclateid}
            div.row
                div(class='chocolateAttr mr-3') Chocolate Name is:
                div #{choclateName}
            div.row
                div(class='chocolateAttr mr-3') Chocolate Cost is:
                div #{chocolateCost}
            div.row
                div(class='chocolateAttr mr-3') Quantity Available is:
                div #{quantityAvailable}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/chocolate'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
            method: 'DELETE'
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Delete succeded")
            window.location.href='/chocolate'
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
        });
        }