extends layout

block content
  h1= title
  
  - let chocolates = results;
  - let create = `dispatch(\"/chocolate/create\")`
  button.btn( class="btn-info ml-1", onclick= create) Create
  div(class="container-fluid mt-3")
    div(class="row m-1")     
      each chocolate in chocolates     
        - let destination = `dispatch(\"/chocolate/update?id=${chocolate._id}\")` 
        - let detail = `dispatch(\"/chocolate/detail/?id=${chocolate._id}")`
        - let deleteItem = `dispatch(\"/chocolate/delete/?id=${chocolate._id}")` 
        div(class="col-sm-2", class="m-1") Chocolate #{chocolate.choclateName} -  #{chocolate.chocolateCost} - #{chocolate.quantityAvailable}
           
          p 
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          p 
          button.btn( class="btn-success ml-1", onclick= detail) Detail
          p 
          button.btn( class="btn-danger ml-1", onclick= deleteItem) Delete
          
    script.
      function dispatch(path){
        window.location.href=path
      }
 


