extends layout

block content
  h1= title
  - let chocolates = results;
  div(class="container-fluid mt-3")
    - let create = `dispatch(\"/chocolate/create\")`
    button.btn(class="btn-secondary ml-1", onClick=create) Create New Chocolate 
    p
    div(class="row m-1 paddingcustom")
      each chocolate,index in chocolates
        - let destination = `dispatch(\"/chocolate/update?id=${chocolate._id}\")` 
        - let detail = `dispatch(\"/chocolate/detail/?id=${chocolate._id}")`
        - let deleteItem = `dispatch(\"/chocolate/delete/?id=${chocolate._id}")`
        div(class="col-sm-2" onclick=`buy(${index})`)  #{chocolate.choclateName} -  #{chocolate.chocolateCost} - #{chocolate.quantityAvailable}
          div 
          p 
          button.btn( class="btn-primary buttonCustom", onclick= destination) Update
          p 
          button.btn( class="btn-success buttonCustom", onclick= detail) Inspect
          p
          button.btn( class="btn-danger buttonCustom", onclick= deleteItem) Delete 
    script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }   
      function dispatch(path){ 
        window.location.href=path 
      }  
 


