extends layout

block content
  h1= title
  - let chocolates = results;
  div(class="container-fluid mt-3")
    div(class="row m-1")     
      each chocolate,index in chocolates     
        - let destination = `dispatch(\"/chocolate/update?id=${chocolate._id}\")`  
        div(class="col-sm-2", class="m-1") Chocolate #{chocolate.choclateName} -  #{chocolate.chocolateCost} - #{chocolate.quantityAvailable}
           
          p 
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          
    script.
      function dispatch(path){
        window.location.href=path
      }
 


